# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules


# Optional npm cache directory
.npm
.vscode
# Optional REPL history
.DS_Store
.idea
.vscode
*.env
*package-lock.json
jwt_secret.env
.jwt_secret.env
*jwt_secret.env
.centralError.js
*centralError.js
centralError.js